.newWorkForm {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    .img {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #E8F1F6;
        color: #B9C5CC;
        padding: 20px;
        font-family: Work Sans;
        justify-content: space-around;
        height: 150px;
        i {
            font-size: 5em;
        }
        label{
            background: #B9C5CC;
            color: #306685;
        }
        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        p {
            color: #444;
        }
        .previewImage {
            height: 190px;
        }
    }
    .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input, select, option {
            font-size: 20px;
            height: 50px;
            border: 0;
            outline: 0;
            background-color: transparent;
            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
        }
    }
}